@{
    ViewData["Title"] = "Calculator";
}

<h1 class="center">@ViewData["Title"]</h1>

<div class="container">
    <form asp-action="Calculate" method="post">
        <div class="form-group">
            <input  name="num1" >
        </div>

        <div class="form-group">
            <label>Select the operation:</label>
            <select name="op" required>
                <option value="*">*</option>
                <option value="/">/</option>
                <option value="+">+</option>
                <option value="-">-</option>
            </select>
        </div>

        <div class="form-group">
            <input  name="num2"  >
        </div>

        <input  type="submit" value="Calculate" />
    </form>
</div>

@if (ViewBag.Result != null)
{
    <div class="result">
        <h3>The Result Of Operation =:</h3>
        <p>@ViewBag.Result</p>
    </div>
}